header{
    text-align: center;
    color:rgb (238, 226, 210);
    border:solid rgba (0, 0, 0, 0.636) 10 px;
    border-radius: 30 px;
    text-align: center;
    margin-left: 150 px;
    margin-right: 150 px;
    margin-bottom: 20 px;
    background-color: rgba (235, 138, 138, 0.6);
    font-size: x-large;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
}

p{
    font-size: 30 px;
}

#mainbody{
    background-image: url (_try.jpg);
}

body{
    background-image: url (_cardbg.jpg);
}

#product-menu{
    border:solid rgba (0, 0, 0, 0.636) 10 px;
    border-radius: 30 px;
    text-align: center;
    margin-left: 200 px;
    margin-right: 200 px;
    background-color: rgba (235, 138, 138, 0.6);
}

.names{
    font-size: 25 px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: solid rgba (73, 15, 15, 0.665) 4 px;
    border-radius: 5 px;
    padding-bottom: 10 px;
}

.images{
    width: 310 px;
    height: 310 px;
    border: solid rgba (9, 1, 0, 0.579) 1 px;
    border-radius: 20 px;
    box-shadow: 0 0 20 px rgba (0, 0, 0, 0.6);

}

.productcard{
    margin-left: 400 px;
    margin-right: 400 px;
    text-align: center;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 10 px black;
    border-radius: 20 px;
}

.perfumes{
    border-radius: 20 px;
    margin-top: 30 px;
    width: 350 px;
    height: 350 px;
    border: solid rgba (29, 28, 28, 0.585) 4 px;
}

#cart{
    border: thin gray 1 px;
    padding: 10 px;
    color: white;
    background-color: rgb (46, 46, 46);
    text-align: center;
    cursor: pointer;
    width: 100 %;
    font-size: 18 px;
}

#cart:hover {
    opacity: 0.85;
}

#btm{
    border-bottom-left-radius: 20 px;
    border-bottom-right-radius: 20 px;
}
button {
    border: thin gray 1 px;
    padding: 10 px;
    color: white;
    background-color: rgb (100, 98, 98);
    text-align: center;
    cursor: pointer;
    width: 100 %;
    font-size: 18 px;
}

.cartbody{
    margin-top: 80 px;
    margin-left:400 px;
    margin-right: 400 px;
    border-radius: 20 px;
    text-align: center;
    background-color: rgba (241, 237, 229,0.4);

}

#atc{
    padding: 15 px;
    border-radius: 200 px;
    width: 300 px;
    height: 300 px;
}

#text{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
